// This is an empty scss file for your custom styles - Please add your super duper awesome mega design styles here
@import url('https://fonts.googleapis.com/css2?family=Red+Hat+Mono:wght@400&display=swap');

html {
	scroll-behavior: smooth;
}

h1, h2, h3, h4 {
	color: $blue;
	font-family: 'Red Hat Mono', monospace;
}

.info-block {
	margin: 0;
	font-size: 1rem;
	padding: 10px 20px;
	background-color: $blue;
	font-weight: 200;
}

.info-block h2 {
	background-color: $blue;
	color: #fff;
	width: 100%;
	font-size: 1.2rem;
	font-weight: 200;	
}

.server-title {
	font-size: 3rem;
	font-weight: 400;
	margin: 20px 0;
	border-bottom: 2px solid $orange;
}

.server-details {
	margin-top: 30px;
}

.server-element {
	border-bottom: 1px solid #efefef;
	transition: all .4s ease;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-between;	
}

.server-element:hover {
	border-color: $orange;
	border-left: 5px solid $orange;
}


.server-item, .server-element, .server-paragraph {
	padding: 5px 20px;
	background-color: $blue;
	font-size: 1.2rem;
	color: #fff;
	margin-left:auto;
}

.server-item {
	width: 50%;
}

.server-item a {
	color: #fff;
	font-weight: 200;
	text-decoration: none;
	position: relative;
	display: inline-block;
	width: 100%;
	transition: all .4s ease;
}

.server-item a:after {
	content: '';
	width: 20px;
	height: 20px;
	position: absolute;
	right: -20px;
	bottom: 5px;
	background-image: url(../imgs/link.svg);
	background-size: contain;
	background-position: center center;
	background-repeat: no-repeat;
}


.server-item a:hover {
	text-decoration: underline;
}

.server-item h3, .server-paragraph h3 {
	color: #fff;
	font-weight: 200;
	font-size: 1.1rem;
}

.detail-name {
	font-weight: 200;
	width: 45%;
	font-family: 'Red Hat Mono', monospace;
	display: inline-block;
	padding: 5px 0;
}

.btn-server {
	background-color: $orange;
	border: $orange;
}

.entry-meta {
	display: flex;
	justify-content: space-between;
}

#updates .server-paragraph {
	border-top: 1px solid $grey;
}

#updates .server-paragraph h3{
	margin-top: 10px;
}

.update-detail {
	margin: 10px 0;
	font-weight: 200;
	font-size: 1rem;
}
